/Onirim/bin/Windows/Debug/Content/BlueDoor.png
/Onirim/bin/Windows/Debug/Content/BlueDoor.xnb
/Onirim/bin/Windows/Debug/Content/BlueKey.png
/Onirim/bin/Windows/Debug/Content/BlueKey.xnb
/Onirim/bin/Windows/Debug/Content/BlueMoon.png
/Onirim/bin/Windows/Debug/Content/BlueMoon.xnb
/Onirim/bin/Windows/Debug/Content/BlueSun.png
/Onirim/bin/Windows/Debug/Content/BlueSun.xnb
/Onirim/bin/Windows/Debug/Content/BrownDoor.png
/Onirim/bin/Windows/Debug/Content/BrownDoor.xnb
/Onirim/bin/Windows/Debug/Content/BrownKey.png
/Onirim/bin/Windows/Debug/Content/BrownKey.xnb
/Onirim/bin/Windows/Debug/Content/BrownMoon.png
/Onirim/bin/Windows/Debug/Content/BrownMoon.xnb
/Onirim/bin/Windows/Debug/Content/BrownSun.png
/Onirim/bin/Windows/Debug/Content/BrownSun.xnb
/Onirim/bin/Windows/Debug/Content/Card/BaseGameDeck.txt
/Onirim/bin/Windows/Debug/Content/DefaultBack.png
/Onirim/bin/Windows/Debug/Content/DefaultBack.xnb
/Onirim/bin/Windows/Debug/Content/GreenDoor.png
/Onirim/bin/Windows/Debug/Content/GreenDoor.xnb
/Onirim/bin/Windows/Debug/Content/GreenKey.png
/Onirim/bin/Windows/Debug/Content/GreenKey.xnb
/Onirim/bin/Windows/Debug/Content/GreenMoon.png
/Onirim/bin/Windows/Debug/Content/GreenMoon.xnb
/Onirim/bin/Windows/Debug/Content/GreenSun.png
/Onirim/bin/Windows/Debug/Content/GreenSun.xnb
/Onirim/bin/Windows/Debug/Content/Nightmare.png
/Onirim/bin/Windows/Debug/Content/Nightmare.xnb
/Onirim/bin/Windows/Debug/Content/RedDoor.png
/Onirim/bin/Windows/Debug/Content/RedDoor.xnb
/Onirim/bin/Windows/Debug/Content/RedKey.png
/Onirim/bin/Windows/Debug/Content/RedKey.xnb
/Onirim/bin/Windows/Debug/Content/RedMoon.png
/Onirim/bin/Windows/Debug/Content/RedMoon.xnb
/Onirim/bin/Windows/Debug/Content/RedSun.png
/Onirim/bin/Windows/Debug/Content/RedSun.xnb
/Onirim/bin/Windows/Debug/MonoGame.Framework.dll
/Onirim/bin/Windows/Debug/MonoGame.Framework.xml
/Onirim/bin/Windows/Debug/Onirim.exe
/Onirim/bin/Windows/Debug/Onirim.pdb
/Onirim/bin/Windows/Debug/Onirim.vshost.exe
/Onirim/bin/Windows/Debug/SharpDX.DXGI.dll
/Onirim/bin/Windows/Debug/SharpDX.DXGI.xml
/Onirim/bin/Windows/Debug/SharpDX.Direct2D1.dll
/Onirim/bin/Windows/Debug/SharpDX.Direct2D1.xml
/Onirim/bin/Windows/Debug/SharpDX.Direct3D11.dll
/Onirim/bin/Windows/Debug/SharpDX.Direct3D11.xml
/Onirim/bin/Windows/Debug/SharpDX.Direct3D9.dll
/Onirim/bin/Windows/Debug/SharpDX.Direct3D9.xml
/Onirim/bin/Windows/Debug/SharpDX.MediaFoundation.dll
/Onirim/bin/Windows/Debug/SharpDX.MediaFoundation.xml
/Onirim/bin/Windows/Debug/SharpDX.RawInput.dll
/Onirim/bin/Windows/Debug/SharpDX.RawInput.xml
/Onirim/bin/Windows/Debug/SharpDX.XAudio2.dll
/Onirim/bin/Windows/Debug/SharpDX.XAudio2.xml
/Onirim/bin/Windows/Debug/SharpDX.XInput.dll
/Onirim/bin/Windows/Debug/SharpDX.XInput.xml
/Onirim/bin/Windows/Debug/SharpDX.dll
/Onirim/bin/Windows/Debug/SharpDX.xml
/Onirim/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Onirim/obj/x86/Debug/Onirim.csproj.FileListAbsolute.txt
/Onirim/obj/x86/Debug/Onirim.exe
/Onirim/obj/x86/Debug/Onirim.pdb
/Onirim.v12.suo
/Onirim/Content/bin/Windows/BlueDoor.xnb
/Onirim/Content/bin/Windows/BlueKey.xnb
/Onirim/Content/bin/Windows/BlueMoon.xnb
/Onirim/Content/bin/Windows/BlueSun.xnb
/Onirim/Content/bin/Windows/BrownDoor.xnb
/Onirim/Content/bin/Windows/BrownKey.xnb
/Onirim/Content/bin/Windows/BrownMoon.xnb
/Onirim/Content/bin/Windows/BrownSun.xnb
/Onirim/Content/bin/Windows/DefaultBack.xnb
/Onirim/Content/bin/Windows/GreenDoor.xnb
/Onirim/Content/bin/Windows/GreenKey.xnb
/Onirim/Content/bin/Windows/GreenMoon.xnb
/Onirim/Content/bin/Windows/GreenSun.xnb
/Onirim/Content/bin/Windows/Nightmare.xnb
/Onirim/Content/bin/Windows/RedDoor.xnb
/Onirim/Content/bin/Windows/RedKey.xnb
/Onirim/Content/bin/Windows/RedMoon.xnb
/Onirim/Content/bin/Windows/RedSun.xnb
/Onirim/Content/obj/Windows/.mgcontent
/Onirim/Content/obj/Windows/BlueDoor.mgcontent
/Onirim/Content/obj/Windows/BlueKey.mgcontent
/Onirim/Content/obj/Windows/BlueMoon.mgcontent
/Onirim/Content/obj/Windows/BlueSun.mgcontent
/Onirim/Content/obj/Windows/BrownDoor.mgcontent
/Onirim/Content/obj/Windows/BrownKey.mgcontent
/Onirim/Content/obj/Windows/BrownMoon.mgcontent
/Onirim/Content/obj/Windows/BrownSun.mgcontent
/Onirim/Content/obj/Windows/DefaultBack.mgcontent
/Onirim/Content/obj/Windows/GreenDoor.mgcontent
/Onirim/Content/obj/Windows/GreenKey.mgcontent
/Onirim/Content/obj/Windows/GreenMoon.mgcontent
/Onirim/Content/obj/Windows/GreenSun.mgcontent
/Onirim/Content/obj/Windows/Nightmare.mgcontent
/Onirim/Content/obj/Windows/RedDoor.mgcontent
/Onirim/Content/obj/Windows/RedKey.mgcontent
/Onirim/Content/obj/Windows/RedMoon.mgcontent
/Onirim/Content/obj/Windows/RedSun.mgcontent
/Onirim/bin/Windows/Debug/Onirim.vshost.exe.manifest
/.vs/Onirim/v14/.suo
/Onirim/obj/x86/Debug
/packages/MonoGame.Framework.WindowsDX.3.4.0.459/lib/net40
*.nupkg
*.txt
*.suo
/Onirim/Content
/Onirim/bin/Windows/Debug/Content
